<div class="dropleft">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= selected_country || 'All' %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  	<%= link_to 'All', root_path, class: 'dropdown-item' %>
    <% countries.each do |country| %> 
    	<%= link_to country, root_path(country: country) , class: 'dropdown-item'%>
    <% end %>
  </div>
</div>